<nav class="site-nav">
  <div class="site-title"><h1>{{siteTitle}}</h1></div>
  <ul>
    <li><a class="/" href="/">Home</a></li>
    <li><a class="/about" href="/">About</a></li>
    <li><a class="/ux-project" href="/">Project</a></li>
  </ul>
</nav>
