---
siteTitle: My Personal Website.
---
<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{siteTitle}}: {{title}}</title>
    <meta name="description" content="">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
  
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="icon.png">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/nav.css">
    </head>
  <body>
    

    <header class="site-header">
        <!-- add site wide header content here -->
        <!-- <div class="site-title">
            <h1>Abdule Touray</h1>
        </div> -->

        <nav class="site-nav">
            <div class="logo">
                <h1>Abdule Touray</h1>
            </div>
            <a href="#" class="hamburger" id="nav-toggle"><span></span></a>
            <div class="links" id="nav-links">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/ux-project">UX Project</a>
            </div>
          </nav>
    </header>

  
  <main class="main page-content">
  {{ content | safe }}</main>

    <footer class="site-footer">
        <!-- add site-wide footer content here -->
        <p>Copyright © 2023 Abdule Touray</p>
    </footer>
  </body>
    <!-- Load CDN version of jQuery. For other versions visit this page: https://code.jquery.com/jquery/ -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <!--    Load Local version if CDN is not working-->
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-3.6.4.min.js"><\/script>')</script>
    <script src="/js/main.js"></script>
</html>





